<html></html>
<style>
        /* Media queries for responsive design */
        @media only screen and (max-width: 768px) {
            .container {
                width: 90%;
            }
        }
        @media only screen and (max-width: 480px) {
            .container {
                width: 100%;
            }
        }
</style>

<div class="row" id="middle">
  <div class="col-md-12">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  
</div>
</html>

<script src="./js/login.js"></script>
