<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fund My Project!</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        /* Media queries for responsive design */
        @media only screen and (max-width: 768px) {
            .container {
                width: 90%;
            }
        }
        @media only screen and (max-width: 480px) {
            .container {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <img src="/assets/images/fav-savs-icon.png" aria-label="FavSavs" onclick="goToHomepage()">
            </h1>
            
        </header>
        <main class="container container-fluid mt-5">
            <!-- Render the sub layout -->
            {{{ body }}}
        </main>
        <footer>
            <!-- Render the footer -->
        </footer>
    </div>

    {{#if logged_in}}
        <!-- Render script for logged in users only -->
        <script src="/js/logout.js"></script>
    {{/if}}

    <script>
        function goToHomepage() {
            window.location.href = 'https://fierce-everglades-98349.herokuapp.com/homepage';
        }
    </script>
</body>
</html>
